<form method="post" action="{{ path('veterinarian_delete', {'id': veterinarian.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ veterinarian.id) }}">
    <button class="btn btn-danger btn-sm">Deletar</button>
</form>
