{% extends 'base.html.twig' %}

{% block title %}Cadastrar Novo Veterinario{% endblock %}

{% block body %}
    <h1>Novo Veterinario</h1>

    {{ include('veterinarian/_form.html.twig')}}

{% endblock %}