{% extends 'base.html.twig' %}

{% block title %}Veterinario {{ veterinarian.name }}{% endblock %}

{% block body %}
    <h1>Veterinario {{ veterinarian.name }}</h1>
    <a href="{{ path('veterinarian_edit', {'id': veterinarian.id }) }}">Editar</a>
    {{ include('veterinarian/_delete_form.html.twig') }}
{% endblock %}