{% extends 'base.html.twig' %}

{% block title %}Página Inicial{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-primary">Inicio</h1>
        <p>Agora essa é a tela inicial!</p>
    </div>
{% endblock %}