<form method="post" action="{{ path('app_cow_delete', {'id': cow.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cow.id) }}">
    <button class="btn">Deletar</button>
</form>
