<form method="post" action="{{ path('farm_delete', {'id': farm.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ farm.id) }}">
    <button class="btn">Delete</button>
</form>
