{% extends 'base.html.twig' %}

{% block title %}Editar Fazenda{% endblock %}

{% block body %}
    <h1>Edit Farm</h1>

    {{ include('farm/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('farm_index') }}">Voltar</a>

    {{ include('farm/_delete_form.html.twig') }}
{% endblock %}
